# #Polar Accesslink API
#
# Polar Accesslink API documentation
#
# The version of the OpenAPI document: 3
# Contact: b2bhelpdesk@polar.com
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 6.6.0
#

require "cgi"

module PolarClient
  class ContinuousHeartRateBetaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get Continuous Heart rate samples
    # Get users continuous heart rate values for given date. <a href=\"https://support.polar.com/en/support/the_what_and_how_of_polars_continuous_heart_rate\"> Supported devices </a>
    # @param date [Date] Date of Continuous Heart Rate as ISO-8601 date string, example: \&quot;2022-01-01\&quot;
    # @param [Hash] opts the optional parameters
    # @return [ContinuousHeartrate]
    def v3_users_continuous_heart_rate_date_get(date, opts = {})
      data, _status_code, _headers = v3_users_continuous_heart_rate_date_get_with_http_info(date, opts)
      data
    end

    # Get Continuous Heart rate samples
    # Get users continuous heart rate values for given date. &lt;a href&#x3D;\&quot;https://support.polar.com/en/support/the_what_and_how_of_polars_continuous_heart_rate\&quot;&gt; Supported devices &lt;/a&gt;
    # @param date [Date] Date of Continuous Heart Rate as ISO-8601 date string, example: \&quot;2022-01-01\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContinuousHeartrate, Integer, Hash)>] ContinuousHeartrate data, response status code and response headers
    def v3_users_continuous_heart_rate_date_get_with_http_info(date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_date_get ..."
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_date_get"
      end
      # resource path
      local_var_path = "/v3/users/continuous-heart-rate/{date}".sub("{" + "date" + "}", CGI.escape(date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "ContinuousHeartrate"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["OAuth2"]

      new_options = opts.merge(
        operation: :"ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_date_get",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContinuousHeartRateBetaApi#v3_users_continuous_heart_rate_date_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Get Continuous Heart rate samples with range
    # Get users continuous heart rate values for given date range. <a href=\"https://support.polar.com/en/support/the_what_and_how_of_polars_continuous_heart_rate\"> Supported devices </a>
    # @param from [Date] Inclusive start date of range as ISO-8601 date string, example: \&quot;2022-01-01\&quot;
    # @param to [Date] Inclusive end date of range as ISO-8601 date string, example: \&quot;2022-01-28\&quot;
    # @param [Hash] opts the optional parameters
    # @return [ContinuousHeartrate]
    def v3_users_continuous_heart_rate_get(from, to, opts = {})
      data, _status_code, _headers = v3_users_continuous_heart_rate_get_with_http_info(from, to, opts)
      data
    end

    # Get Continuous Heart rate samples with range
    # Get users continuous heart rate values for given date range. &lt;a href&#x3D;\&quot;https://support.polar.com/en/support/the_what_and_how_of_polars_continuous_heart_rate\&quot;&gt; Supported devices &lt;/a&gt;
    # @param from [Date] Inclusive start date of range as ISO-8601 date string, example: \&quot;2022-01-01\&quot;
    # @param to [Date] Inclusive end date of range as ISO-8601 date string, example: \&quot;2022-01-28\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContinuousHeartrate, Integer, Hash)>] ContinuousHeartrate data, response status code and response headers
    def v3_users_continuous_heart_rate_get_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_get ..."
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_get"
      end
      # resource path
      local_var_path = "/v3/users/continuous-heart-rate"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:from] = from
      query_params[:to] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "ContinuousHeartrate"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["OAuth2"]

      new_options = opts.merge(
        operation: :"ContinuousHeartRateBetaApi.v3_users_continuous_heart_rate_get",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContinuousHeartRateBetaApi#v3_users_continuous_heart_rate_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
